:root.theme-dark {
  --accent-color: #ff0070;
  --menu-color: #ff0070;
  --title-color: #df00ff;
  --title-shadow-color: #ff0070;
  --paragraph-color: #f1b2ce;
  --text-decor-color: #000431;
  --section-title-color: #ff0070;
  --corner-color: #ff0070;
  --bg-color: #000028;
  --show-rec-decor: inline-block;
  --bg-image: url(../images/cover-image-dark.png);
}