.page {
  display: grid;
  gap: 9px;
  background-color: var(--bg-color);
  max-width: 1024px;
  margin: 0 auto;
  padding: 2.6%;
  background-image: var(--bg-image);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  display: grid;
  position: relative;
  grid-template-rows: repeat(3, min-content);
  align-self: center;
  height: 100vh;
  min-height: 668px;
}

.decorated_elem {
  position: absolute;
  top: 1px;
  right: 0;
  font-weight: 400;
  font-size: 18px;
  color: var(--accent-color);
  display: var(--show-rec-decor);
  text-align: center;
}

.decorated_elem::after {
  content: "";
  display: inline-block;
  height: 0.5em;
  width: 0.5em;
  margin-inline-start: 0.5em;
  margin-inline-end: 0.55em;
  margin-block-end: 0.06em;
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-radius: 0.4em;
  box-shadow: 0 0 2px 2px var(--accent-color);
}

.header__theme-menu {
  display: flex;
  align-items: end;
  justify-content: end;
  margin-block-start: 61px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  cursor: pointer;
  font-family: var(--main-font-family);
  font-size: 1.1rem;
  background-color: transparent;
  border: none;
  width: 70px;
  height: 27px;
  color: var(--menu-color);
  text-transform: lowercase;
  text-align: center;
  letter-spacing: 1px;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--menu-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--menu-color);
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--menu-color);
}

.title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--title-shadow-color);
  word-spacing: 30px;
  line-height: 85%;
  margin-block-start: 64px;
  margin-block-end: 52px;
}

.header__description {
  justify-self: end;
}

.title-decor {
  font-weight: 700;
  font-size: var(--font-size-sections);
  color: var(--text-decor-color);
  background-color: var(--accent-color);
}

.line {
  display: block;
  line-height: 23.4px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: var(--size-decor-corner);
  height: var(--size-decor-corner);
  border-top: 1px solid var(--corner-color);
  border-right: 1px solid var(--corner-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 20px;
  width: var(--size-decor-corner);
  height: var(--size-decor-corner);
  border-bottom: 1px solid var(--corner-color);
  border-left: 1px solid var(--corner-color);
}

.main {
  color: var(--section-title-color);
}

.main__section {
  display: grid;
}

.section-title {
  font-size: var(--font-size-sections);
  margin-block-start: 20px;
}

.section-title_advice {
  font-weight: 400;
}

.card {
  display: grid;
  grid-auto-rows: min-content;
}

.cards__why {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 2px;
}


.cards__what {
  display: grid;
}

.cards__why:last-child,
.cards__what:last-child {
  margin-block-start: 3px;
  margin-block-end: 34px;
}

.cards__advices {
  display: grid;
  grid-auto-rows: min-content;
  gap: 3px;
}

.cards__advices:last-child {
  margin-block-end: 30px;
}

.paragraph {
  margin-block-start: 10px;
  margin-block-end: 0px;
  font-size: var(--font-size-sections);
  color: var(--paragraph-color);
}

.section__link {
  position: relative;
  cursor: pointer;
  color: var(--paragraph-color);
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.section__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: var(--paragraph-color);
}

.section__link:hover::after {
  width: 100%;
}

.section__link:focus {
  outline: none;
}

.section__link:focus-visible {
  outline: 1px solid var(--paragraph-color);
}

.card__images {
  display: grid;
  gap: 10px;
  min-block-size: calc(100vh - 5em);
  margin-block-start: 15px;
  margin-block-end: 35px;
}

.card__images-item {
  margin: 0;
  margin-block-start: -5px;
}

.card__images-img {
  inline-size: 100%;
  block-size: 100%;
  max-block-size: 100%;
  object-fit: cover;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 668px;
}

.footer_title {
  margin-block-start: 31px;
  text-shadow: 2px 2px 0 var(--title-shadow-color);
}

@media (width >= 768px) {
  .header {
    min-height: 1024px;
  }

  .header__theme-menu {
    margin-block-start: 169px;
  }

  .decorated-zone::after {
    bottom: 40px;
  }

  .title {
    word-spacing: 0;
    margin-block-start: 172px;
    margin-inline-start: -20px;
    margin-block-end: 160px;
  }

  .header__description {
    width: 50%;
  }

  .paragraph {
    margin-block-start: 10px;
  }

  .main__section {
    margin-block-start: 30px;
    grid-template-columns: 0.49fr 1fr;
    gap: 25px;
  }

  .section-title {
    margin-block-start: 0;
  }

  .section-sub-title {
    margin-block-end: 14px;
  }

  .main__section-what {
    grid-template-columns: min-content 1fr;
    grid-auto-rows: min-content;
    gap: 20px;
  }

  .card {
    margin-block-end: 15px;
  }

  .cards__why {
    gap: 4px;
  }

  .cards__why:last-child {
    margin-block-end: 38px;
  }

  .cards__what {
    grid-row: 2;
    grid-column: 1 / -1;
    gap: 5px;
  }

  .cards__what:last-child {
    margin-block-end: 39px;
  }

  .cards__advices {
    gap: 7px;
  }

  .cards__advices:last-child {
    margin-block-end: 64px;
  }

  .card__images {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 0.2fr 0.66fr;
    grid-auto-flow: dense;
    margin-block-start: 25px;
    margin-block-end: -100px;
    gap: 20px;
  }

  .card__images-item:nth-child(1) {
    grid-column: span 2;
    grid-row: 1 / 2;
  }

  .card__images-item:nth-child(2) {
    grid-column: 3;
    grid-row: 1 / 3;
  }

  .card__images-item:nth-child(3) {
    grid-column: 1;
    grid-row: 2 / -1;
  }

  .card__images-item:nth-child(5) {
    grid-column: 2 / -1;
    grid-row: 3 / -1;
  }

  .footer {
    min-height: 1024px;
  }

  .footer_title {
    margin-block-start: 125px;
    margin-inline-start: 0;
  }
}

@media (width >= 1024px) {
  .page {
    padding: 2%;
  }

  .header {
    min-height: 768px;
  }

  .header__theme-menu {
    flex-direction: row;
    align-items: start;
    justify-content: center;
    margin-block-start: -2px;
  }

  .header__theme-menu-list {
    flex-direction: row;
    margin: 0;
  }

  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-block-start: 275px;
    margin-block-end: 110px;
  }

  .main__section {
    margin-block-start: 30px;
    gap: 17px;
  }

  .main__section-what {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content 1fr;
    gap: 20px;
  }

  .cards__what {
    grid-template-columns: repeat(3, 1fr);
    grid-row: 2;
    grid-column: 1 / -1;
    gap: 19px;
  }

  .cards__what:last-child {
    margin-block-end: 35px;
  }

  .cards__advices:last-child {
    margin-block-end: 63px;
  }

  .card__images {
    margin-block-end: 70px;
  }

  .footer {
    min-height: 768px;
  }

  .footer_title {
    margin-block-start: 70px;
    margin-inline-start: 0;
  }
}
