:root {
  --main-font-family: 'IBM Plex mono', sans-serif;
  --font-size-sections: 1.13em;
  --size-decor-corner: 25px;
  --accent-color: #ff0070;
  --title-color: #df00ff;
  --title-shadow-color: #ff0070;
  --paragraph-color: #f1b2ce;
  --text-decor-color: #000431;
  --section-title-color: #ff0070;
  --corner-color: #ff0070;
  --bg-color: #000431;
  --show-rec-decor: inline-block;
  --bg-image: url(../images/cover-image-dark.png);
}